.aboutpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 100px 0 0 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-cnt img {
  width: 150px;
}

.pictures-cnt {
  width: 100%;
  margin-top: 15rem;
}

.pictures-cnt img {
  width: 100%;
}

.pictures-cnt img:hover {
  transform: scale(1.05);
}

/* You can remove or modify these specific classes as they are no longer needed */
.pic1,
.pic2,
.pic3,
.pic4 {
  transform: rotateZ(0deg);
  position: relative;
  top: 0;
  right: 0;
  z-index: auto;
}

.logo {
  width: 2em;
}

.tae {
  font-size: 6rem;
}

.text-cnt {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text-holder {
  margin-top: 50px;
}

.founded-cnt {
  background: goldenrod;
  font-size: 10px;
  width: 270px;
  height: 30px;
  margin-top: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.founded-cnt h1 {
  color: black;
}

.text-cnt p {
  margin-top: 20px;
  width: 50vw;
  line-height: 2rem;
  text-align: center;
}

.pic1 {
}
