/* CONTENT */

.content-lol {
 
}

.leaguebanner {
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100vw;
  padding-left: 20vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.leaguebanner h1 {
  font-size: 6rem;
}

.leaguebanner p {
  color: goldenrod;
  font-weight: 600;
}

.head {
  display: flex;
 
}



.title-team {
  color: goldenrod;
  font-weight: 600;
  


}
.strekdiv {
  position: absolute;
  background-color: goldenrod;
  height: 40px;
  width: 80px;
  margin-top: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-family: var(--asapfont);
  font-size: .6rem;
}

/* START OF COUNTDOWN */

/* END OF COUNTDOWN */

/* PLAYER PRESENTATION */


.main-team-cnt {

  margin-bottom: 150px;
}



.data {
  padding-left: 20vw;
  margin-top: 100px;
}


.team-desc-cnt p {
  color: rgb(130, 130, 130);
  margin-left: 1rem;
}


.team-name {
  font-size: 3rem;
}

.main-team-line {
  margin-left: 50px;
  height: 1px;
  width: 100%;
  background: var(--tae_foreground_primary);
}


.stroke {
  position: absolute;
  letter-spacing: 2px;
  margin-bottom: 20px;
  -webkit-text-stroke: var(--tae_foreground_primary) 1px;
  color: transparent;
}

.cardnew {
  position: absolute;
  display: flex;
}



/* END OF PLAYERPRESENTATION */

/* HOVERCARD */

.cardcard {
  position: relative;
}

.hovercard {
  position: absolute;
  width: 300px;
  height: 100px;
}

.watch-game-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 200px 0px;
}

.watch-game-cnt p {
  color: goldenrod;
  font-weight: 600;
  font-size: .8rem;
}

.watch-game-cnt h1 {
  font-size: 4rem;
}