@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
  /* FONTS */
  --antonfont: "Inter", sans-serif;
  --asapfont: "Inter", sans-serif;

  /* COLORS */
  --tae_background_primary: goldenrod;
  --tae_background_accent: #202020;
  --tae_foreground_primary: #b6b6b6;
  --tae_foreground_primary_accent: #ffe3a0; /*   TODO Logo colors*/
  --tae_foreground_secondary: #606060;
  --tae_foreground_secondary_accent: #dc963c;
}

::selection {
  background: white;
  color: black;
}

h1 {
  font-family: var(--antonfont);
  font-weight: 900;
  color: white;
}

.header {
  font-size: 9em;
}

text,
p,
a {
  font-size: 16px;
  font-family: var(--asapfont);
  font-weight: 100;
  letter-spacing: 1px;
}

a {
  color: white;
  transition: 0.2s;
  letter-spacing: 1px;
}

a:hover {
  color: var(--tae_foreground_primary);
}

.stripe {
  height: 40px;
  width: 30rem;
  background-color: var(--tae_foreground_primary);
}

.stripe-mini {
  background-color: var(--tae_foreground_primary);
}

.tag-style {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 20px;
  margin-left: 1rem;
  background-color: transparent;
  border: 1px solid transparent;
}

.tag-style:hover {
  border-radius: 0.5rem;
}

.btn-trans {
  cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    max-width: 200px;
    background-color: rgba(215, 215, 215, 0.092);
    border: 1px solid rgb(103, 103, 103);
    color: white;
    border-radius: 1rem
}

.btn-trans p {
  color: white !important;
  font-size: .8rem;
}

.liga-name:hover {
  margin-left: 5px;
}

.liga-name {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: .1s;
}

.liga-name img {
  width: 1.2rem;
  margin-left: .5rem;
}

a {
  text-decoration: none;
}
