.dashboard-cnt {
  background-color: black;
  background-image: url("../../../assets/pattern.png");
  min-height: 100vh;
  padding: 10rem;
}

.dashboard-header {
  font-size: 3em;
}

.dashboard {
  width: 100%;
  background-color: rgb(27, 27, 27);
  border-radius: 2rem;
}

.players {
  padding: 80px 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.player-data-cnt {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.players h1 {
  font-size: 1.5rem;
  text-align: center;
  padding: 10px 30px;
  border-radius: 0.5rem;
}

.playerinfo {
  padding: 10px 20px;
  width: 200px;
  margin: 20px 30px;
  color: white;
  background-color: rgb(36, 36, 36);
  display: flex;
}

.role {
  width: 150px;
  color: rgb(180, 180, 180);
}

.player-cnt {
  margin-bottom: 80px;
}

.player-edit-btn {
  width: 50%;
  text-align: end;
}

.edit-btn {
  color: white;
  background-color: rgb(49, 49, 49);
  font-family: var(--antonfont);
  border-style: none;
  font-size: 15px;
  width: 60px;
  cursor: pointer;
}

.edit-btn:hover,
.save-btn:hover {
  background-color: var(--tae_foreground_primary);
  color: black;
}

/* ANIMATIONS */

@keyframes rollout {
  0% {
    height: 0;
  }
  100% {
    height: 100px;
  }
}

.playerinfo-extend {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  position: fixed;
  background: rgba(36, 36, 36, 0.28);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(17.9px);
  -webkit-backdrop-filter: blur(17.9px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputextend {
  background-color: rgb(49, 49, 49);
  border-style: none;
  height: 35px;
  color: white;
  padding: 0 0 0 10px;
  margin-right: 10px;
}

.save-btn {
  color: white;
  background-color: rgb(49, 49, 49);
  font-family: var(--antonfont);
  border-style: none;
  font-size: 15px;
  width: 60px;
  height: 35px;
  cursor: pointer;
  margin-left: 110px;
}

.playerediter {
  width: 60vw;
  min-height: 70vh;
  background-color: var(--tae_background_accent);
  border-radius: 2rem;
  filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.126));
}

.edit-inputs-cnt {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 50vh;
  justify-content: center;
  align-items: center;
}

.edit-inputs-cnt p {
  margin-top: 10px;
  font-size: 14px;
  color: rgb(169, 169, 169);
}
.form-content-edit {
  max-height: 50vh;
  align-items: start;
  padding: 2rem;
}

.form-content-edit input {
  border: none;
  background-color: rgb(54, 54, 54);
  color: white;
  padding: 1rem 2rem;
  border-radius: 10px;
  margin-top: 5px;
}

.form-content h1 {
  background-color: none !important;
}

.save-btn-player {
  width: 200px;
  height: 45px;
  border: none;
  background-color: goldenrod;
  border-radius: 10px;
  color: white;
  font-weight: 800;
  margin-top: 30px;
}

.close-btn {
  position: absolute;
  top: 40px;
  right: 40px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.close-btn:hover {
  color: goldenrod;
}
